body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.lyrics,
.completion,
.score,
.center,
.fa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa {
  font-size: 4vw; 
}

.lyricsInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3vw;
  padding-top: 2vw;
}

.blanks {
  font-size: 4vw;
  padding-bottom: 5vw;
}

.result {
  font-size: 4vw;
  padding-bottom: 2vw;
}

.word1,
.word2,
.word3 {
  text-align: center;
}

.word1 {
  margin-right: 2vw;
}

.word3 {
  margin-left: 2vw;
}

.submit {
  font-size: 1.5vw;
  padding: .5vw;
  margin-bottom: 1vw;
  background-color: lightgrey;
}

.quit,
.continue,
.nextLevel,
.inspired {
  background-color: lightgrey;
}

.quit {
  margin-right: 2vw;
  padding: .5vw 1vw .5vw 1vw;
}

.continue,
.nextLevel {
  margin-left: 2vw;
  padding: .5vw 1vw .5vw 1vw;
}

.footer {
  bottom: 0;
  margin-top: 15%;
  font-size: 1vw;
}

.completion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 10%;
}

.gameover,
.score,
.continueOptions,
.description  {
  margin-bottom: 2vw;
}

.score {
  text-align: center;
}
